.meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  

body {
    margin: 0;
}

.container {
    display: grid;
    background-image: url("media/texture.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-size: 2rem;
}

header {
    font-family: "Meie Script", cursive;
}